[Unit]
Description=Projektor MQTT Steuerung
After=network.target graphical.target

[Service]
User=debian
Environment=DISPLAY=:0
ExecStart=/usr/bin/python3 /home/debian/scripts/steuerung_mqtt.py
Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
